name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run || true

      - name: Generate Mochawesome Report
        if: always()
        run: |
          npm install mochawesome-merge mochawesome-report-generator
          npx mochawesome-merge cypress/reports/*.json > mochawesome.json
          npx mochawesome-report-generator mochawesome.json

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: cypress-test-report
          path: mochawesome-report
      - name: Publish Test Report to PR Comment
        if: ${{ github.event_name == 'pull_request' }}
        uses: mikeal/publish-to-github-action@master
        with:
          args: |
            echo "## Cypress Test Results"
            echo "\`\`\`"
            cat cypress/results/*.xml
            echo "\`\`\`"
